.body{
    margin: 0;
    position: relative;
}

#home-page{
    background-image: url("images/backgroundOne.png");
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
}

#play-button{
    position: absolute;
    height: 50px;
    width: 150px;
    border-radius:50px;
    bottom: 0;
    right: 0;
    top: 0;
    left: 20vw;
    margin: 343px;
    color: white;
    background: aqua;
}

#play-button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.08);
}

.background{
    background-image: url("images/backgroundOne.png");
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    position: absolute;
    display: none;
}

.boy{
    position: absolute;
    height: 210px;
    margin-top: 460px;
}

.trap{
    width: 100px;
    height: 100px;
    /*background-color: black;*/
    position: absolute;
    margin-top: 555px;
    background-image: url("images/Magic_Fireball_Spell.gif");
    background-size: contain;
    background-repeat: no-repeat;

}

.score{
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 20px;
    position: absolute;
    color: white;
}

.end{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-image: linear-gradient(90deg, #8E0E00 0%,#1F1C18 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: bold;
    color: white;
    font-family: "Rockwell";
    visibility: hidden;
}

.Btn{
    height: 35px;
    width: 300px;
    margin-top: 50px;
    font-size: 25px;
    font-weight: 1000;
    background-color: aqua;
    border: none;
    border-radius: 20px
}

.Btn:hover{
     height: 37px;
    width: 305px;
    background-color: #007dff;
    cursor: pointer;
    color: white;
}

